@charset "UTF-8";
/* MAPS */
/* EXTEND */
.decoratuvida {
  margin-bottom: 40px;
  margin-left: 60px;
  margin-top: 40px; }

.títulocatalogo {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 40px; }

.logoinsta, .logoyoutube, .logoface, .iconofacebook {
  width: 100%;
  height: 100%; }

.imagenbox, .imagenmate, .imagencafebox {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
  height: 500px; }

/* MIXIN */
header {
  background-color: rosybrown;
  opacity: 90%; }
  header .image-header-container {
    background-color: white;
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 10vh; }
  header .img-fluid {
    margin-left: 0px;
    height: 12vh;
    width: 15vh;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 50px; }
  header .titulos {
    font-family: 'Water Brush', cursive;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: flex-start;
    margin-left: 300px;
    color: rosybrown;
    opacity: 100%;
    padding-top: 20px;
    margin-bottom: 40px; }
  header .navbar {
    color: antiquewhite; }

footer {
  background-image: url(../imagenes/93728.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: bisque;
  margin-top: 40px; }

.pagosfooter {
  display: grid;
  grid-area: x 2/3 y 1/2; }

.enviamos {
  font-size: medium; }

.paga {
  font-size: medium; }

.logoinsta {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.logoyoutube {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.iconos {
  padding: 5px, 10px;
  border: solid 1px;
  width: 100px;
  height: 100px; }

.logoface {
  display: grid;
  grid-area: x 4/5;
  width: 60px;
  height: 60px; }

.iconofacebook {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.image-header-container {
  background-color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.image-header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh; }

.titulos {
  font-family: 'Water Brush', cursive;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-items: flex-start;
  margin-left: 300px;
  color: rosybrown;
  opacity: 100%;
  padding-top: 20px;
  margin-bottom: 40px; }

.img-fluid {
  margin-left: 0px;
  height: 12vh;
  width: 15vh;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 50px; }

.navbar {
  opacity: none;
  color: antiquewhite; }

header {
  background-color: rosybrown;
  opacity: 90%; }

.estilolink {
  text-decoration: none;
  color: gray;
  font-size: xx-large;
  padding: 80px; }

.decoratuvida {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 25px; }

.gridcarrouselytexto {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.subtituloasesoramiento {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-left: 40px; }

.fs-2 {
  color: antiquewhite;
  font-family: 'Prompt', sans-serif;
  font-size: 14px; }

.image-header-container {
  background-color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.image-header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh; }

.titulos {
  font-family: 'Water Brush', cursive;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-items: flex-start;
  margin-left: 300px;
  color: rosybrown;
  opacity: 100%;
  padding-top: 20px;
  margin-bottom: 40px; }

.img-fluid {
  margin-left: 0px;
  height: 12vh;
  width: 15vh;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 50px; }

.navbar {
  opacity: none;
  color: antiquewhite; }

header {
  background-color: rosybrown;
  opacity: 90%; }

.estilolink {
  text-decoration: none;
  color: gray;
  font-size: xx-large;
  padding: 80px; }

.estilolink:hover {
  color: rosybrown;
  transform: scale(2); }

.titulonavbar {
  color: rosybrown;
  font-size: x-large;
  margin-right: 40px;
  text-decoration: none; }

.titulonavbar:hover {
  color: rosybrown;
  transform: none; }

.container-fluid {
  background-color: bisque; }

.nav-link {
  font-size: 16px; }

.carousel-inner {
  height: 40rem; }

body {
  background-image: url(../imagenes/imagencemento.jpg); }

.gridcarrouselytexto {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.carrousel {
  grid-area: 1/2; }

.parrafoasesoramiento {
  margin-top: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 0px;
  margin-left: 20px; }

.titulocontacto {
  padding-top: 40px;
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

.decoratuvida {
  color: antiquewhite;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-top: 40px;
  font-family: 'Lobster', cursive;
  font-size: 70px; }

.subtituloasesoramiento {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin-left: 40px; }

.fs-2 {
  color: antiquewhite;
  font-family: 'Prompt', sans-serif;
  font-size: x-large; }

footer {
  background-image: url(../imagenes/93728.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: bisque;
  margin-top: 40px; }

.pagosfooter {
  display: grid;
  grid-area: x 2/3 y 1/2;
  color: gray; }

.enviamos {
  font-size: medium;
  color: gray; }

.paga {
  font-size: medium;
  color: gray; }

.textofooter {
  color: gray; }

.logoinsta {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.logoyoutube {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.iconos {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.logoface {
  display: grid;
  grid-area: x 4/5;
  width: 100px;
  height: 100px; }

.iconofacebook {
  display: grid;
  grid-area: x 4/5 y 1/2;
  width: 100px;
  height: 100px; }

.iframesGRID {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 100px;
  margin-top: 100px; }

.ratio {
  width: 100vh;
  height: 60vh; }

.títulocatalogo {
  color: antiquewhite; }

.titulocontacto {
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

.subtitulocorreo {
  color: antiquewhite; }

.subtituloconsultanos {
  color: antiquewhite; }

.btn {
  margin-left: 40px;
  border-color: blanchedalmond; }

footer {
  background-image: url(../imagenes/93728.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: bisque;
  margin-top: 40px; }

.pagosfooter {
  display: grid;
  grid-area: x 2/3 y 1/2;
  color: gray; }

.enviamos {
  font-size: medium;
  color: gray; }

.paga {
  font-size: medium;
  color: gray; }

.textofooter {
  color: gray; }

.logoinsta {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.logoyoutube {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.iconos {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.logoface {
  display: grid;
  grid-area: x 4/5; }

.iconofacebook {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.boxalmohadones {
  display: grid;
  grid-area: x 1/2 y 2/3;
  align-items: flex-start;
  justify-items: center;
  margin-bottom: 0px;
  margin-left: -100px;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px; }

.matebox {
  display: grid;
  grid-area: x 1/2 y 2/3;
  justify-items: center;
  align-items: flex-start;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-right: 20px; }

.cafebox {
  display: grid;
  grid-area: x 1/2 y 2/3;
  align-items: flex-start;
  justify-items: center;
  margin-left: -100px;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px; }

.matesoftpink {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
  height: 500px;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-right: 20px; }

.organizador {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
  height: 500px;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px; }

.relaxbox {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
  height: 500px;
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 40px; }

.subtitulodebox {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin-left: 40px; }

footer {
  background-image: url(../imagenes/93728.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: bisque;
  margin-top: 40px; }

.pagosfooter {
  display: grid;
  grid-area: x 2/3 y 1/2;
  color: gray; }

.enviamos {
  font-size: medium;
  color: gray; }

.paga {
  font-size: medium;
  color: gray; }

.textofooter {
  color: gray; }

.logoinsta {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.logoyoutube {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.iconos {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.logoface {
  display: grid;
  grid-area: x 4/5; }

.iconofacebook {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.flexboxquienesomos {
  display: flex;
  justify-content: center;
  align-content: space-between; }

.iframemaps {
  margin-top: 80px;
  margin-left: 140px; }

.flexquienesomos {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.textoquienessomos {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-left: 40px; }

.imagenquienessomos {
  margin-left: 40px;
  margin-top: 60px;
  border: solid 8px antiquewhite; }

.Decoratusespaciosconnosotros {
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin-left: 40px; }

footer {
  background-image: url(../imagenes/93728.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: bisque;
  margin-top: 40px; }

.pagosfooter {
  display: grid;
  grid-area: x 2/3 y 1/2;
  color: gray; }

.enviamos {
  font-size: medium;
  color: gray; }

.paga {
  font-size: medium;
  color: gray; }

.textofooter {
  color: gray; }

.logoinsta {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.logoyoutube {
  display: grid;
  grid-area: x 4/5 y 1/2; }

.iconos {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.logoface {
  display: grid;
  grid-area: x 4/5; }

.iconofacebook {
  display: grid;
  grid-area: x 4/5 y 1/2; }

/*media*/
@media only screen and (max-width: 667px) {
  header {
    width: 102%;
    height: 20vh; }
  .flex__container {
    display: flex;
    flex-direction: column; }
  .gridcarrouselytexto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -10px; }
  .carousel-inner {
    height: 14rem; }
  .container {
    margin-left: 0.5rem; }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .gridbox {
    display: flex;
    flex-direction: column;
    margin-left: -20px; }
  .pagosfooter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 0%; }
  .iconos {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: start;
    margin-left: -30%; }
  .iframesGRID {
    display: flex;
    flex-direction: column;
    margin-top: 40px; }
  .videos {
    margin-top: 20px;
    width: 100%;
    height: 100%; }
  .ratio {
    width: 100%; }
  .imagenbox {
    width: 90%;
    height: 90%;
    margin-left: 25px; }
  .image-header-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%; }
  .img-fluid {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 10px;
    margin-left: -150px;
    width: 150px;
    height: 120px; }
  .titulos {
    display: none !important; }
  .decoratuvida {
    margin-top: 55px;
    margin-left: 15px; }
  .matebox {
    display: flex;
    justify-content: center;
    margin-left: 40px; }
  .boxalmohadones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; }
  .subtitulodebox {
    display: flex;
    margin-top: 60px; }
  .flexboxquienesomos {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .imagenquienessomos {
    width: 320px; }
  .iframemaps {
    width: 90%;
    margin-top: 5vh;
    margin-left: 4vh; } }
