header{
    background-color: rosybrown;
}

.container-fluid{
background-color: bisque;
}
.nav-link{
    font-size: 16px;
}
.carousel-inner{
    height: 40rem;
}
body{
    background-image: url(../imagenes/imagencemento.jpg);
    
}
.gridcarrouselytexto{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.carrousel{
    
    grid-area: 1/2;
}
.parrafoasesoramiento{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 20px;
}

.text-center{
    padding-top: 40px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulocontacto{
    padding-top: 40px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decoratuvida{
    color: antiquewhite;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.fs-1{
    color: antiquewhite;

 }
 .fs-2{
     color: beige
 }
footer{
    background-image: url(../imagenes/93728.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    background-color: bisque;
    margin-top: 40px;
}
.pagosfooter{
    display: grid;
    grid-area: x 2/3 y 1/2;
}
.enviamos{
    font-size: medium;
}
.paga{
    font-size: medium;
}


.logoinsta{
    display: grid;
    grid-area: x 4/5 y 1/2;
    width: 100px;
    height: 100px;
    }
    .logoyoutube{
        display: grid;
        grid-area: x 4/5 y 1/2;
        width: 100px;
        height: 100px;
    }
.iconos{
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.logoface{
    display: grid;
    grid-area: x 4/5;
    width: 100px;
    height: 100px;
}
.iconofacebook{
    display: grid;
    grid-area: x 4/5 y 1/2;
    width: 100px;
    height: 100px;

}
/* contacto*/
.iframesGRID{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.títulocatalogo{
    color: antiquewhite;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.titulocontacto{
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitulocorreo{
    color: antiquewhite;
}
.subtituloconsultanos{
    color: antiquewhite;
}

/*BOX-DECO*/
.gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.almohadones{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}

.imagenmate{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}
.imagencafebox{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}
.boxalmohadones{
    display: grid;
    grid-area:  x 1/2 y 2/3;
    align-items: flex-start;
    justify-items: center;
    margin-bottom: 0px;
    margin-left: -100px;
    
}
.matebox{
    display: grid;
    grid-area:  x 1/2 y 2/3;
    justify-items: center;
    align-items: flex-start;
}
.cafebox{
    display: grid;
    grid-area:  x 1/2 y 2/3;
    align-items: flex-start;
    justify-items: center;
    margin-left: -100px;
    
}
.matesoftpink{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
    
}
.organizador{

    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}
.relaxbox{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 667px) {
    header{
        width: 100%;
    }
    .flex__container{
        display: flex;
        flex-direction: column;
        
    }

    .gridcarrouselytexto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: -10px;
    }
    

    

    .carousel-inner {
        height: 14rem;
    }
    .container{
        margin-left: 0.5rem;
    }

    footer{
        width: 140%;
        display: flex;
        flex-direction: column;
        
    }

    .gridbox{
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }
.pagosfooter{
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 0%;
}
.iconos{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-left: -50%;
}
.iframesGRID{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


}
