header{
    background-color: rosybrown;
}

.container-fluid{
background-color: bisque;
}
.nav-link{
    font-size: 16px;
}
.carousel-inner{
    height: 40rem;
}
body{
    background-image: url(../imagenes/imagencemento.jpg);
    
}
.gridcarrouselytexto{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.carrousel{
    
    grid-area: 1/2;
}
.parrafoasesoramiento{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 20px;
}

.text-center{
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.decoratuvida{
    color: antiquewhite;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.fs-1{
    color: antiquewhite;

 }
 .fs-2{
     color: beige
 }
footer{
    background-image: url(../imagenes/93728.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    background-color: bisque;
    margin-top: 40px;
}
.pagosfooter{
    display: grid;
    grid-area: x 2/3 y 1/2;
}
.enviamos{
    font-size: medium;
}
.paga{
    font-size: medium;
}


.logoinsta{
    display: grid;
    grid-area: x 4/5 y 1/2;
    width: 100px;
    height: 100px;
    }
    .logoyoutube{
        display: grid;
        grid-area: x 4/5 y 1/2;
        width: 100px;
        height: 100px;
    }
.iconos{
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.logoface{
    display: grid;
    grid-area: x 4/5;
    width: 100px;
    height: 100px;
}
.iconofacebook{
    display: grid;
    grid-area: x 4/5 y 1/2;
    width: 100px;
    height: 100px;

}
/* contacto*/
.iframesGRID{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.títulocatalogo{
    color: antiquewhite;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.titulocontacto{
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}