header{
    background-color: $color-principal;
    opacity: 90%;

    .image-header-container{
        background-color: white;
        height: 20vh;
        width: 100%;
        
        display:grid;
        grid-template-columns: 1fr 3fr;
        height: 10vh;
    }
        .img-fluid{
            margin-left: 0px;
            height: 12vh;
            width: 15vh;
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 50px;
     }
            .titulos{
                font-family: 'Water Brush', cursive;
                display: grid;
                grid-column: 2/3;
                grid-row: 1/2;
                justify-items: flex-start;
                margin-left: 300px;
                color: rosybrown;
                opacity: 100%;
                padding-top: 20px;
                margin-bottom: 40px;
    }

                .navbar {
                    color: $colortitulos;
                }

 }